<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="URL">
      <section name="QA" type="System.Configuration.NameValueSectionHandler" />
      <section name="PROD" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!--<add key="URL" value="http://www.store.demoqa.com"/>-->
    <add key="locale" value="en-us" />
    <add key="Environment" value="PROD" />
    <add key="browser" value="chrome" />
  </appSettings>

  <URL>
    <QA>
      <add key="RZR" value="https://rzr-qa.polarisindcms.com/" />
      <add key="IND" value="https://www-qa.indianmotorcyclecms.com/" />
      <add key="MIL" value="https://military-qa.polarisindcms.com/" />
      <add key="SLG" value="https://slingshot-qa.polarisindcms.com/" />
      <add key="GEM" value="https://gem-qa.polarisindcms.com/" />
      <add key="CMV" value="https://commercial-qa.polarisindcms.com/" />
      <add key="RAN" value="https://ranger-qa.polarisindcms.com/" />
      <add key="GEN" value="https://general-qa.polarisindcms.com/" />
      <add key="ACE" value="https://ace-qa.polarisindcms.com/" />
      <add key="ATV" value="https://atv-qa.polarisindcms.com/" />
    </QA>
    <PROD>
      <add key="RZR" value="https://rzr.polaris.com/" />
      <add key="IND" value="https://www.indianmotorcycle.com/" />
      <add key="MIL" value="https://military.polaris.com/" />
      <add key="SLG" value="https://slingshot.polaris.com/" />
      <add key="GEM" value="https://gem.polaris.com/" />
      <add key="CMV" value="https://commercial.polaris.com/" />
      <add key="ATV" value="https://atv.polaris.com/" />
      <add key="ACE" value="https://ace.polaris.com/" />
      <add key="GEN" value="https://general.polaris.com/" />
      <add key="RAN" value="https://ranger.polaris.com/" />
    </PROD>
  </URL>
  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>