<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections> 
    <sectionGroup name="URL">
      <section name="QA" type="System.Configuration.NameValueSectionHandler" />
      <section name="PROD" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net" />
  </configSections>

  <appSettings>
    <add key="locale" value="en-us" />
    <add key="Environment" value="PROD" />
    <add key="browser" value="Chrome" />
    <add key="isLog" value="Y" />
    <add key="logPath" value="../../Logs/" />
    <add key="retryCount" value="3" />
  </appSettings>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="MyAppender" />
    </root>
    <appender name="MyAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>

  <URL>
    <QA>
      <add key="RZR" value="https://rzr-qa.polarisindcms.com/" />
      <add key="IND" value="https://www-qa.indianmotorcyclecms.com/" />
      <add key="MIL" value="https://military-qa.polarisindcms.com/" />
      <add key="SLG" value="https://slingshot-qa.polarisindcms.com/" />
      <add key="GEM" value="https://gem-qa.polarisindcms.com/" />
      <add key="CMV" value="https://commercial-qa.polarisindcms.com/" />
      <add key="ATV" value="https://atv-qa.polarisindcms.com/" />
      <add key="ACE" value="https://ace-qa.polarisindcms.com/" />
      <add key="GEN" value="https://general-qa.polarisindcms.com/" />
      <add key="RAN" value="https://ranger-qa.polarisindcms.com/" />
      <add key="SNO" value="https://snowmobiles-qa.polarisindcms.com/" />
    </QA>
    <PROD>
      <add key="RZR" value="https://rzr.polaris.com/" />
      <add key="IND" value="https://www.indianmotorcycle.com/" />
      <add key="MIL" value="https://military.polaris.com/" />
      <add key="SLG" value="https://slingshot.polaris.com/" />
      <add key="GEM" value="https://gem.polaris.com/" />
      <add key="CMV" value="https://commercial.polaris.com/" />
      <add key="ATV" value="https://atv.polaris.com/" />
      <add key="ACE" value="https://ace.polaris.com/" />
      <add key="GEN" value="https://general.polaris.com/" />
      <add key="RAN" value="https://ranger.polaris.com/" />
      <add key="SNO" value="https://snowmobiles.polaris.com/" />
    </PROD>
  </URL>

  

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ImpromptuInterface" publicKeyToken="0b1781c923b2975b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>