<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections> 
    <sectionGroup name="URL">
      <section name="QA" type="System.Configuration.NameValueSectionHandler" />
      <section name="PROD" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>

  <appSettings>
    <!--<add key="URL" value="http://www.store.demoqa.com"/>-->
    <add key="locale" value="en-us" />
    <add key="Environment" value="PROD" />
    <add key="browser" value="InternetExplorer" />
    <add key="isLog" value="Y" />
    <add key="logPath" value="../../Logs/" />
  </appSettings>

  <URL>
    <QA>
      <add key="RZR" value="https://rzr-qa.polarisindcms.com/" />
      <add key="IND" value="https://www-qa.indianmotorcyclecms.com/" />
      <add key="MIL" value="https://military-qa.polarisindcms.com/" />
      <add key="SLG" value="https://slingshot-qa.polarisindcms.com/" />
      <add key="GEM" value="https://gem-qa.polarisindcms.com/" />
      <add key="CMV" value="https://commercial-qa.polarisindcms.com/" />
      <add key="ATV" value="https://atv-qa.polarisindcms.com/" />
      <add key="ACE" value="https://ace-qa.polarisindcms.com/" />
      <add key="GEN" value="https://general-qa.polarisindcms.com/" />
      <add key="RAN" value="https://ranger-qa.polarisindcms.com/" />
      <add key="SNO" value="https://snowmobiles-qa.polarisindcms.com/" />
    </QA>
    <PROD>
      <add key="RZR" value="https://rzr.polaris.com/" />
      <add key="IND" value="https://www.indianmotorcycle.com/" />
      <add key="MIL" value="https://military.polaris.com/" />
      <add key="SLG" value="https://slingshot.polaris.com/" />
      <add key="GEM" value="https://gem.polaris.com/" />
      <add key="CMV" value="https://commercial.polaris.com/" />
      <add key="ATV" value="https://atv.polaris.com/" />
      <add key="ACE" value="https://ace.polaris.com/" />
      <add key="GEN" value="https://general.polaris.com/" />
      <add key="RAN" value="https://ranger.polaris.com/" />
      <add key="SNO" value="https://snowmobiles.polaris.com/" />
    </PROD>
  </URL>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ImpromptuInterface" publicKeyToken="0b1781c923b2975b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  --><stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>